build
node_modules
demo/assets/data

build-ts/*
!build-ts/index.html
!build-ts/assets/
!build-ts/assets/stamp1.ply
!build-ts/assets/stamp2.ply
!build-ts/assets/stamp3.ply
!build-ts/assets/stamp4.ply
!build-ts/assets/stamp5.ply

.DS_Store
*.ply
*.cert
*.key